# Core data libs (ENSURE ALL PACKAGES ARE UPDATED)
pandas>=2.2.2
numpy==1.26.4
matplotlib>=3.7 # needed to include for EDA in silver 
seaborn>=0.12

# Parquet support for pandas
pyarrow==20.0.0

# Linting & hooks
ruff==0.7.1
pre-commit==4.2.0