# Kernel
ipykernel==6.29.5

# Core data libs
pandas==2.3.0
matplotlib==3.9.2 # needed to include for EDA in silver 
seaborn==0.13.2

# Parquet support for pandas
pyarrow==20.0.0

# Statisical portion
scipy>=1.10.0,<1.13.0

# HHTP Requests
requests==2.32.4

# Linting & hooks
ruff==0.11.13
pre-commit==4.2.0
